force-app/main/default/flows/UX_Record_Alert_Create_Program_Enrollment_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>newBenefitAssignment.BenefitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Benefits.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBenefitAssignment.EnrolleeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBenefitAssignment.ProgramEnrollmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Program_Enrollment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBenefitAssignment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Program_Enrollment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBenefitAssignment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBenefitAssignment.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBenefitAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newBenefitAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Benefits</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Program_Enrollment_Created</name>
        <label>Program Enrollment Created?</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Program_Enrollment</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Benefits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Has_Assessment</name>
        <label>Program Has Assessment?</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program.OmniProcessId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assessment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is used in the Record Alerts action flow to create a program enrollment for the constituent that triggered the alert.</description>
    <environments>Default</environments>
    <formulas>
        <name>assessmentName</name>
        <dataType>String</dataType>
        <expression>{!ProgramEnrollmentLookup.recordName}+&quot; &quot;+&quot;Assessment&quot;</expression>
    </formulas>
    <formulas>
        <name>EnrollmentName</name>
        <dataType>String</dataType>
        <expression>{!contactName} + &quot; &quot; + {!ProgramEnrollmentLookup.recordName}</expression>
    </formulas>
    <interviewLabel>UX | Record Alert | Create Program Enrollment | Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UX | Record Alert | Create Program Enrollment | Subflow</label>
    <loops>
        <name>Loop_Through_Benefits</name>
        <label>Loop Through Benefits</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Program_Benefits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Benefit_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assessment</name>
        <label>Create Assessment</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <inputAssignments>
            <field>AssessmentStatus</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>assessmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OmniProcessId</field>
            <value>
                <elementReference>Get_Program.OmniProcess.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponseContextId</field>
            <value>
                <elementReference>Create_Program_Enrollment</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Benefit_Assignments</name>
        <label>Create Benefit Assignments</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Program_Has_Assessment</targetReference>
        </connector>
        <inputReference>newBenefitAssignments</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Program_Enrollment</name>
        <label>Create Program Enrollment</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Program_Enrollment_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EnrollmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramId</field>
            <value>
                <elementReference>ProgramEnrollmentLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Program</name>
        <label>Get Program</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program_Benefits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramEnrollmentLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Benefits</name>
        <label>Get Program Benefits</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Program_Enrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramEnrollmentLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ChooseProgram</name>
        <label>ChooseProgram</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Program</targetReference>
        </connector>
        <fields>
            <name>ProgramEnrollmentLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ProgramId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Program</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ProgramEnrollment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!contactName} is already enrolled in {!ProgramEnrollmentLookup.recordName}, so no new enrollment was created. Click &apos;Next&apos; to return to the main menu and take another action.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChooseProgram</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newBenefitAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
    <variables>
        <name>newBenefitAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
</Flow>
