force-app/main/default/flows/UX_Record_Alert_Mass_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Alert</name>
        <label>Set Alert</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>recordAlert.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Selected_Alert_Again.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAlert.SnoozeUntilDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snooze_Until_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAlerts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordAlert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Selected_Alert_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Alert_Status</name>
        <label>Set Alert</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recordAlert.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Selected_Alert_Status.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAlert.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAlerts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordAlert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Selected_Alert_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Effective_Start_Date_Max</name>
        <label>Set Effective Start Date Max</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>lastEffectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Selected_Alert.EffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Selected_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Valid_Until_Date_Max</name>
        <label>Set Valid Until Date Max</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>lastValidUntilDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Selected_Alert.ValidUntilDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Effective_Start_Day_Max</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>deleteAlerts</name>
        <choiceText>Delete Alerts</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>snoozeAlerts</name>
        <choiceText>Snooze Alerts</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>updateStatus</name>
        <choiceText>Update Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>updateStatus</stringValue>
        </value>
    </choices>
    <decisions>
        <name>If_Effective_Start_Day_Max</name>
        <label>If Effective Start Day Max</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>For_Each_Selected_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Effective_Start_Date_Max</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Selected_Alert.EffectiveDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>lastEffectiveStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lastEffectiveStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Effective_Start_Date_Max</targetReference>
            </connector>
            <label>Effective Start Date Max</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Snooze_Alerts</name>
        <label>If Snooze Alerts</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Snooze_Alerts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>snoozeAlerts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Selected_Alert</targetReference>
            </connector>
            <label>Snooze Alerts</label>
        </rules>
        <rules>
            <name>Update_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>updateStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChooseStatus</targetReference>
            </connector>
            <label>Update Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Valid_Until_Date_Max</name>
        <label>If Valid Until Date Max</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>If_Effective_Start_Day_Max</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Until_Date_Max</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Selected_Alert.ValidUntilDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>lastValidUntilDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lastValidUntilDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_Until_Date_Max</targetReference>
            </connector>
            <label>Valid Until Date Max</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>alertStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>RecordAlert</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>UX | Record Alert | Mass Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UX | Record Alert | Mass Action</label>
    <loops>
        <name>For_Each_Selected_Alert</name>
        <label>For Each Selected Alert</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>selectedRecordAlerts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Valid_Until_Date_Max</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Snooze_Alert_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Selected_Alert_Again</name>
        <label>For Each Selected Alert Again</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <collectionReference>selectedRecordAlerts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Alert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Alerts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Selected_Alert_Status</name>
        <label>For Each Selected Alert</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <collectionReference>selectedRecordAlerts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Alert_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Alert_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Records_Alerts</name>
        <label>Get Records Alerts</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Alerts_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordAlert</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Alert_Status</name>
        <label>Update Alert Status</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <inputReference>recordAlerts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Alerts</name>
        <label>Update Alerts</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <inputReference>recordAlerts</inputReference>
    </recordUpdates>
    <screens>
        <name>Action_Type_Screen</name>
        <label>Action Type Screen</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>If_Snooze_Alerts</targetReference>
        </connector>
        <fields>
            <name>Action_Type</name>
            <choiceReferences>updateStatus</choiceReferences>
            <choiceReferences>snoozeAlerts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseStatus</name>
        <label>Choose Status</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>For_Each_Selected_Alert_Status</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>alertStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Alerts_Screen</name>
        <label>Select Alerts Screen</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action_Type_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Alerts_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Alerts_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Alerts_Text</name>
                    <fieldText>&lt;p&gt;Select alerts from the table below to take action on.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>recordAlertsTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>RecordAlert</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Record Alerts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Records_Alerts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-24a7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Subject&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-113e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Severity&quot;,&quot;guid&quot;:&quot;column-cc22&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Severity&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedRecordAlerts</assignToReference>
                        <name>selectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Snooze_Alert_Screen</name>
        <label>Snooze Alert Screen</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>For_Each_Selected_Alert_Again</targetReference>
        </connector>
        <fields>
            <name>Snooze_Alert_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Snooze_Alert_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Snooze_Text</name>
                    <fieldText>&lt;p&gt;The alert must be snoozed between {!lastEffectiveStartDate} and {!lastValidUntilDate}.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Snooze_Until_Date</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Snooze Until Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Pause alert(s) until this date.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Select a Snooze Until Date that’s before the Valid Until Date and after the Effective Start Date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(AND(
    {!Snooze_Until_Date} &gt;= {!lastEffectiveStartDate},
    {!Snooze_Until_Date} &gt;= {!lastValidUntilDate}
), FALSE, TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_Alerts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lastEffectiveStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastValidUntilDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordAlert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordAlert</objectType>
    </variables>
    <variables>
        <name>recordAlerts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordAlert</objectType>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRecordAlerts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordAlert</objectType>
    </variables>
</Flow>
