force-app/main/default/flows/UX_Record_Alert_Manage_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>actionPlan</name>
        <choiceText>Apply an Action Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>actionPlan</stringValue>
        </value>
    </choices>
    <choices>
        <name>addToCampaign</name>
        <choiceText>Add {!contactName} to a Campaign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>addToCampaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>createProgramEnrollment</name>
        <choiceText>Enroll {!contactName} in a Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>programEnrollment</stringValue>
        </value>
    </choices>
    <choices>
        <name>emailContact</name>
        <choiceText>{!Get_Related_Record_Details.contactName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Related_Record_Details.contactId</elementReference>
        </value>
    </choices>
    <choices>
        <name>emailContactName</name>
        <choiceText>{!Get_Related_Record_Details.contactName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Related_Record_Details.contactId</elementReference>
        </value>
    </choices>
    <choices>
        <name>emailFaculty</name>
        <choiceText>{!Get_Related_Record_Details.facultyName} (You can choose to cc {!Get_Related_Record_Details.contactName})</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Related_Record_Details.facultyId</elementReference>
        </value>
    </choices>
    <choices>
        <name>emailOwner</name>
        <choiceText>{!Get_Related_Record_Details.ownerName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Related_Record_Details.ownerId</elementReference>
        </value>
    </choices>
    <choices>
        <name>logTask</name>
        <choiceText>Create a Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>createTask</stringValue>
        </value>
    </choices>
    <choices>
        <name>sendEmail</name>
        <choiceText>Send an Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>email</stringValue>
        </value>
    </choices>
    <choices>
        <name>snoozeAlert</name>
        <choiceText>Update or Snooze Alert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>snooze</stringValue>
        </value>
    </choices>
    <choices>
        <name>startSwarm</name>
        <choiceText>Start Case Swarm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>swarm</stringValue>
        </value>
    </choices>
    <choices>
        <name>takeNote</name>
        <choiceText>Take a Note</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Note</stringValue>
        </value>
    </choices>
    <choices>
        <name>updateSeverity</name>
        <choiceText>Update Alert Severity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>severity</stringValue>
        </value>
    </choices>
    <choices>
        <name>updateStatus</name>
        <choiceText>Update Alert Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>status</stringValue>
        </value>
    </choices>
    <decisions>
        <name>If_Action_Type</name>
        <label>If Action Type</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Action_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Snooze_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>snoozeAlert</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Snooze_Screen</targetReference>
            </connector>
            <label>Snooze Alert</label>
        </rules>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sendEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Email_Recipient</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
        <rules>
            <name>Take_a_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>takeNote</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Note</targetReference>
            </connector>
            <label>Take a Note</label>
        </rules>
        <rules>
            <name>Apply_Action_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>actionPlan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Action_Plan2</targetReference>
            </connector>
            <label>Apply Action Plan</label>
        </rules>
        <rules>
            <name>Program_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>createProgramEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_Enrollment2</targetReference>
            </connector>
            <label>Program Enrollment</label>
        </rules>
        <rules>
            <name>Log_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>logTask</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Task</targetReference>
            </connector>
            <label>Log Task</label>
        </rules>
        <rules>
            <name>Add_to_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>addToCampaign</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Member</targetReference>
            </connector>
            <label>Add to Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Alert</name>
        <label>If Alert</label>
        <locationX>1568</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Alert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Record_Details</targetReference>
            </connector>
            <label>Alert</label>
        </rules>
    </decisions>
    <description>This sample flow contains links to the sample default action flows. Use as is, or configure to your specific needs.</description>
    <environments>Default</environments>
    <formulas>
        <name>calculateCaseId</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Related_Record_Details.sObjectNameParent} = &quot;Case&quot;, {!Get_Alert.ParentId}, IF({!Get_Related_Record_Details.sObjectNameWhat} = &quot;Case&quot;, {!Get_Alert.WhatId},
&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>UX | Record Alert | Manage Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UX | Record Alert | Mange Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Alert</name>
        <label>Get Alert</label>
        <locationX>1568</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordAlert</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_Alert</name>
        <label>Update Record Alert</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Screen</targetReference>
        </connector>
        <inputReference>Get_Alert</inputReference>
    </recordUpdates>
    <screens>
        <name>Action_Error_Screen</name>
        <label>Action Error Screen</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>actionError</name>
            <fieldText>&lt;p&gt;Looks like there&apos;s no action configured for that choice. Ask your Salesforce Administrator for help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Action_Screen</name>
        <label>Action Screen</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>If_Action_Type</targetReference>
        </connector>
        <fields>
            <name>Action_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen1TXT</name>
                    <fieldText>&lt;p&gt;Select the first action you&apos;d like to take on the alert below. When you&apos;re done, you can close this screen.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AlertDetails</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Details:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Alert.Subject}&lt;/p&gt;&lt;p&gt;{!Get_Alert.Description}&lt;/p&gt;&lt;p&gt;Alert Created: {!Get_Alert.CreatedDate}&lt;/p&gt;&lt;p&gt;Severity: {!Get_Alert.Severity}&lt;/p&gt;&lt;p&gt;Source: {!Get_Alert.Source_System__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Select_Action</name>
                    <choiceReferences>snoozeAlert</choiceReferences>
                    <choiceReferences>sendEmail</choiceReferences>
                    <choiceReferences>takeNote</choiceReferences>
                    <choiceReferences>actionPlan</choiceReferences>
                    <choiceReferences>createProgramEnrollment</choiceReferences>
                    <choiceReferences>logTask</choiceReferences>
                    <choiceReferences>addToCampaign</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Action</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Email_Recipient</name>
        <label>Choose Email Recipient</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_an_Email</targetReference>
        </connector>
        <fields>
            <name>Who_would_you_like_to_email</name>
            <choiceReferences>emailContactName</choiceReferences>
            <choiceReferences>emailFaculty</choiceReferences>
            <choiceReferences>emailOwner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who would you like to email?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Error_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Error&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;RecordAlert recordId was not set.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Snooze_Screen</name>
        <label>Snooze Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Record_Alert</targetReference>
        </connector>
        <fields>
            <name>Snooze_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Snooze_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Snooze_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The alert must be snoozed between {!Get_Alert.EffectiveDate} and {!Get_Alert.ValidUntilDate}.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Snooze_Until_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Snooze Until Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select a Snooze Until Date that’s before the Valid Until Date and after the Effective Start Date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(AND(
    {!Snooze_Until_Date} &gt;= {!Get_Alert.EffectiveDate},
    {!Snooze_Until_Date} &gt;= {!Get_Alert.ValidUntilDate}
), FALSE, TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Alert.Status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Alert.Severity</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Alert</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Apply_Action_Plan2</name>
        <label>Apply Action Plan</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Screen</targetReference>
        </connector>
        <flowName>UX_Record_Alert_Apply_Action_Plan_Subflow</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>Get_Related_Record_Details.accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>calculateCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Get_Related_Record_Details.contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectNameParent</name>
            <value>
                <elementReference>Get_Related_Record_Details.sObjectNameParent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectNameWhat</name>
            <value>
                <elementReference>Get_Related_Record_Details.sObjectNameWhat</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_a_Note</name>
        <label>Create a Note</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Screen</targetReference>
        </connector>
        <flowName>UX_Record_Alert_Create_Interaction_Summary_Subflow</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Screen</targetReference>
        </connector>
        <flowName>UX_Record_Alert_Add_to_Campaign_Subflow</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Get_Related_Record_Details.contactId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Gets key fields from related records by ParentId and WhatId</description>
        <name>Get_Related_Record_Details</name>
        <label>Get Related Record Details</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Action_Screen</targetReference>
        </connector>
        <flowName>UX_Record_Alert_Get_Related_Record_Details</flowName>
        <inputAssignments>
            <name>parentId</name>
            <value>
                <elementReference>Get_Alert.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>Get_Alert.WhatId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Screen</targetReference>
        </connector>
        <flowName>UX_Record_Alert_New_Task_Subflow</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Get_Related_Record_Details.contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>Get_Alert.WhatId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Program_Enrollment2</name>
        <label>Program Enrollment</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Screen</targetReference>
        </connector>
        <flowName>UX_Record_Alert_Create_Program_Enrollment_Subflow</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Get_Related_Record_Details.contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactName</name>
            <value>
                <elementReference>contactName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_an_Email</name>
        <label>Send an Email</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Screen</targetReference>
        </connector>
        <flowName>UX_Record_Alert_Send_Email_Subflow</flowName>
        <inputAssignments>
            <name>alertId</name>
            <value>
                <elementReference>Get_Alert.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>constituentContactId</name>
            <value>
                <elementReference>Get_Related_Record_Details.contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentId</name>
            <value>
                <elementReference>Get_Alert.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recipientId</name>
            <value>
                <elementReference>Who_would_you_like_to_email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>relatedRecord</name>
            <value>
                <elementReference>Get_Related_Record_Details.relatedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>Get_Alert.WhatId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
